<!-- <h1>ISlot- Basic application to enable easy interaction between admin and interviewer </h1>

<a routerLink='/login'>login</a>
<a routerLink='/'>sign-up as admin</a>
<a routerLink='/'>sign-up as interviewer</a> -->

<div class='container'>
<h1>Welcome To I-Slot</h1>
                <p id="description">I-Slot,an Application that facilitates easy and enhanced interaction between Admin and Interviewer for hiring drive</p>
              
                <br>
                <br>
                
              <br>

    <div align=center id=nav>
            <a routerLink='/login' >login</a>
            <a routerLink='/adminregistration'>sign-up as admin</a>
            <a routerLink='/interviewerregistration' >sign-up as interviewer</a> 
           
            
           
            </div>
            </div>
            